body {
  color: black;
  background-color: #f2e1d5;
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header {
  overflow: hidden;
  background-color: #313131;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  height: 20vh;
}

.header a:hover {
  background-color: rgb(122, 115, 115);
  color: black;
}
.ala {
  height: 18vh;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
.container-fluido {
  display: flex;
  justify-content: center !important;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------------------------------------------------
# CAROUSEL
--------------------------------------------------------------*/

.carrousel {
  height: auto;
  width: 640px;
  margin-top: 5vh;
}

.carousel {
  border: 5px solid;
}

/*--------------------------------------------------------------
# ABOUT
--------------------------------------------------------------*/
.about {
  margin: 1vw;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chef {
  border-radius: 10%;
  border: 3px solid black;
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
# LIST
--------------------------------------------------------------*/
.lista {
  justify-content: center;
  display: flex;
  background-color: #f2e1d5;
}

.unidad {
  background-color: #8b7562;
  color: black;
}

/*--------------------------------------------------------------
# GALLERY
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: center;
}

#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #0c0b09;
  border-top: 1px solid #37332a;
  border-bottom: 1px solid #28251f;
  padding: 60px 0 30px 0;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

.fa {
  padding: 5px;
  font-size: 1px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #cda45e;
  color: white;
}

.fa-whatsapp {
  background: #cda45e;
  color: white;
}
